# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
out/

# Test and coverage
*.out
*.test
*.prof
cpu.pprof
mem.pprof

# Dependencies (uncomment if using vendor)
# vendor/

# IDEs and editors
.vscode/
sandbox/
!.vscode/extensions.json
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.dev
.env.test
.env.local